a{
    
    padding: 20px;
}
h1{
    color: blue;
}
li{
    padding:10px;
}
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid green; /* green */
  }
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
  .divider{
    width:6px;
    height:auto;
    display:inline-block;
}
.button{
    text-align: center;
}

#dugmeDodaj {
    margin-right: 10px !important;
    height: 30px;
    align-self: center;
}

#page-heading {
    margin-left: 5px !important;
    width: 100% !important;
}

.buttons {
    width: 200px;
    display: inline-flex;
}

