<br>
<div>
    <div id="page-heading" class="d-flex justify-content-between">
        <h2>
            <span>Studenti</span>
        </h2>        
        <button id="dugmeDodaj" class="btn btn-primary create-entity create-studenti" [routerLink]="['/studenti/new']">
            <!-- <fa-icon [icon]="'plus'"></fa-icon> -->
            <span>
                Dodaj studenta
            </span>

        </button>
    </div>
    <br />
    <div class="table-responsive">
        <p-table #dt class="table table-striped" [columns]="cols" [value]="students" [paginator]="true" [rows]="5"
            [responsive]="true" [autoLayout]="true" [totalRecords]="totalRecords" [lazy]="true" (onLazyLoad)="loadStudentsLazy($event)" [loading]="loading" >
            <ng-template pTemplate="header" let-columns>

                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th>

                </tr>
                <tr>
                    <th *ngFor="let col of columns" [ngSwitch]="col.field">
                        <input size="10" *ngSwitchCase="'id'" pInputText type="text"(input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                        <input size="10" *ngSwitchCase="'name'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                        <input size="10" *ngSwitchCase="'surname'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">

                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-student>
                <tr>
                    <td *ngFor="let col of cols">
                        {{student[col.field]}}
                        
                    </td>
                    <td class="buttons">
                        <div class="" role="group">
                            <button type="submit" [routerLink]="['/studenti', student.id, 'ispiti' ]" class="btn btn-info btn-sm">
                                Ispiti
                            </button>
                            <button type="submit" [routerLink]="['/studenti', student.id, 'update']" class="btn btn-primary btn-sm">
                                Edit
                            </button>
                            <button type="button" class="btn btn-danger btn-sm" (click)="delete(student.id)">
                                Delete
                            </button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>